<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <div style="text-align: center">
            <h1>Internship Application Login</h1>
            Email: <br> 
            <input type="text" id="emailBox" autocomplete="off" name="email"><br>
            Password: <br>
            <input type="password" id="passBox" autocomplete="off" name="pass"><br> <br>
            <button type="button" id="logButton" onclick="validate();">Login</button>
        </div>
    </head>
</html>