<!-- AUTHORS: Brando Dill, Daniel Branham, Dustin Graham, and Matea Milojkovic
     PURPOSE: Login Page for Winthrop Entities
     LAST MODIFIED: 01/21/2019

    NEEDS WORK: -Validation of login and password combination
                -link to appropriate homepage based on login (student, professor, etc)
 -->
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <h1><i>College of Business Administration</i></h1>
        <h2>Internship Application Login</h2>
        <br />

        <body>
            <!-- Login Buttons-->
            Email: <br>
            <input type="text" id="emailBox" autocomplete="off" name="email"><br>
            Password: <br>
            <input type="password" id="passBox" autocomplete="off" name="pass"><br> <br>

            <!-- NEEDS TO BE CHANGED IN THE FUTURE-->
            <!-- validate() determines if valid login; if valid, send to appropriate page-->
             <a href="~/student"><button class="button" type="button" id="logButton" onclick="validate();">Login</button></a>

             <br><br>
             <font size=".75em">*Login using your Wingspan credentials. Contact <a href="https://www.winthrop.edu/technology/default.aspx?id=7739">Winthrop IT</a> Winthrop 
             to reset these credentials, if necessary.</font>

        </body>
    </div>
</head>

</html> <!-- end login page code-->