################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interactive Internship Application/.vs
.vscode
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.assets.cache
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.dll
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.pdb
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.RazorCoreGenerate.cache
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.Views.dll
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.Views.pdb
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.csproj.CoreCompileInputs.cache
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.csproj.FileListAbsolute.txt
Interactive Internship Application/obj/Debug/netcoreapp2.2/Interactive Internship Application.csprojAssemblyReference.cache
Interactive Internship Application/bin/Debug/netcoreapp2.2/Interactive Internship Application.Views.pdb
Interactive Internship Application/bin/Debug/netcoreapp2.2/Interactive Internship Application.dll
Interactive Internship Application/bin/Debug/netcoreapp2.2/Interactive Internship Application.pdb
Interactive Internship Application/bin/Debug/netcoreapp2.2/Interactive Internship Application.Views.dll

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

Interactive Internship Application/appsettings.json