<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--Menu-->
<div style="text-align: right">
    <a href="~/">
    <button class="buttonMenu" type="button">Log Off</button> 
    
    </a>
</div>



<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    
    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%"  margin-left= "10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://www.winthrop.edu">Winthrop Homepage</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

    <div style="text-align: center">
        <h1><i>Check Status</i></h1>
        <br><br>

        <table style="width:100%">
            <tr>
                <th>Internship Class</th>
                <th>Employer</th>
                <th>Learning Agreement</th>
                <th>Professor Review</th>
                <th>Student Services Review</th>
                <th>Decision</th>
            </tr>
            <tr>
                <td>CSCI 491</td>
                <td><font color="orange">In Progress (Reminder Sent: Jan. 10)</font></td>
                <td><font color="green">Complete</font></td>
                <td><font color="orange">In Progress (Reminder Sent: Jan. 11)</font></td>
                <td><font color="orange">In Progress</font></td>
                <td><font color="red">Waiting</font></td>
            </tr>
             <tr>
                <td>MGMT 491</td>
                <td><font color="green">Complete</font></td>
                <td><font color="green">Complete</font></td>
                <td><font color="green">Complete</font></td>
                <td><font color="green">Complete</font></td>
                <td><font color="green">Approved!</font></td>
            </tr>
        </table>





       <!-- Connect to database
        var databaseConnection = Database.Open("DATABASE_NAME");
        var query = "SELECT * FROM TABLE_NAME" 
           --> 

        <!--add code to pull fields from database table that need to be filled out by student
        if the field is already filled out-->

    </div>
</head>
</html>
