<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--Menu-->
<div style="text-align: right">
    <a href="~/">
        <button class="buttonMenu" type="button">Log Off</button>

    </a>
</div>

@{
    var count = 0; //used for html spacing
}


<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://www.winthrop.edu">Winthrop Homepage</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

    </div>
</head>

<h1><i>Check the Status of Your Applications</i></h1>
<br />
      <table align="center" border="1" cellpadding="10">

              <thead>
                  <tr>
                      <th>Class</th>
                      <th>Status</th>
                  </tr>
              </thead>

              @foreach (var field in ViewBag.classStatus)
              {

                  <tr>
                      <td>@field.Key</td>
                      <td>@field.Value</td>
                  </tr>

              }
          </table>
          </td>

          <br />
          <br />
          <p><center><b>Application Process Status Codes (In Chronological Order)</b></center></p>
          <td>
              <table border="1" cellpadding="10" style="display:inline-block;overflow-y:auto;overflow-x:hidden;max-height:450px;">
                  <thead>
                      <tr>
                          <th>Status</th>
                          <th>Description</th>
                      </tr>
                  </thead>
                  <tr>
                      <td>Incomplete</td>
                      <td>You haven't submitted your application yet</td>
                  </tr>
                  <tr>
                      <td>Pending Employer Approval</td>
                      <td>Employer is filling out application</td>
                  </tr>

                  <tr>
                      <td>Pending Professor Approval</td>
                      <td>Professor is reviewing application</td>
                  </tr>
                  <tr>
                      <td>Pending Department Representative Approval</td>
                      <td>Department Representative is reviewing application</td>
                  </tr>
                  <tr>
                      <td>Pending Student Services Approval</td>
                      <td>Student Services is filling out application</td>
                  </tr>
                  <tr>
                      <td>Pending Director of External Relations Approval</td>
                      <td>Director of External Relations is reviewing application</td>
                  </tr>
                  <tr>
                      <td>Withdrawn</td>
                      <td>The Director of External Relations withdrew your application</td>
                  </tr>
                  <tr>
                      <td>Approved</td>
                      <td>Your application has been approved</td>
                  </tr>
                  <tr>
                      <td>Declined</td>
                      <td>Your application has been declined</td>
                  </tr>
                  <tr>
                      <td>Add Corrections</td>
                      <td>Resubmit your application with requested changes</td>
                  </tr>


              </table>
          </td>


</html>
