<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <style>
        table {
            display:block;
            overflow-y:auto;
            height: 200px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>Professor Example's Active Applications</h1>
        <table border="1" cellpadding="10" align="center">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Class Enrolled</th>
                    <th>Semester Enrolled</th>
                    <th>Grad Year</th>
                    <th>Major</th>
                    <th>Organization Name</th>
                    <th>Date Assigned</th>
                    <th>Sign</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <td>Dummy Student</td>
                    <td>CSCI 493</td>
                    <td>Spring 2019</td>
                    <td>Spring 2020</td>
                    <td>Computer Science</td>
                    <td>CoolCompany 1000</td>
                    <td>Oct. 17, 2018</td>
                    <td><input type="checkbox" value="1" /></td>
                </tr>

                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr><td colspan="8">&nbsp;</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>

