@{

    Layout = "~/Views/Shared/_EmployerLayout.cshtml";

}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <div style="text-align: center">
        </table>
        <h1><i>Winthrop's Internship Application - Employer</i></h1>
    </div>

</head>

<div>
    <br />
    <h3 style="color:black">
        Thank you for submitting your portion of the application. If you have any questions about the internship process for your employee, please contact the Director of
        External Relations at tillerc@mailbox.winthrop.edu!
    </h3>


</div>

</html>