
@{
    ViewData["Title"] = "Login Error";
}

<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <div style="text-align: center">
        </table>
        <h1><i>Winthrop's Internship Application - Employer</i></h1>
    </div>

</head>

<div>
    <br />
    <h3 style="color:black">
       For security purposes, your pin to login has expired. Please check your email for the new pin and login in with your email and the newly generated pin. Thank you.
    </h3>


</div>

</html>

