@{

    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
    ViewData["Title"] = "Login Error";
}

<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <div style="text-align: center">
        </table>
        <h1><i>Winthrop's Internship Application - Employer</i></h1>
    </div>

</head>

<div>
    <br />
    <h3 style="color:black">
        This email was not found. Please go back and try again with a valid email. Thank you. 
    </h3>


</div>

</html>

