<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <style>
        table {
            display: inline-block;
            overflow-y: auto;
            height: 200px;
            width: inherit;
        }
    </style>
</head>
<body>
    @model Dictionary<int, List<string>>
    <div style="text-align: center">
        <h1>Active Applications</h1>
        <table border="1" cellpadding="10" align="center">
            <thead>
                <tr>
                    <th>App ID</th>
                    @foreach (var column in ViewBag.tableCols)
                    {
                        <th>@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{List<int> recordIds = new List<int>(); }

                @foreach (var row in Model)
                {

                    // whenever the Value from Application Data is equal to the course name
                    // the professor teaches, grab that record ID. Then, use it to make
                    // entries into the table.

                    int id = 0;
                    int count = 0;
                    <tr>
                        @foreach (var item in row.Value)
                        {
                            if (count == 0)
                            {
                                id = Convert.ToInt32(item);
                            }
                            <td>@item</td>
                            count++;
                        }
                            <td>

                                @*This code determines if each individual application has already been
                                signed or not. If so, it selects the checkbox, and if not it leaves
                                the box unchecked.*@ 

                                @{int studRecord = row.Key;
                                    string result;
                                    bool test = ViewBag.getSigned.TryGetValue(studRecord, out result);
                                    bool trueTest = string.IsNullOrEmpty(result);

                                    if (!trueTest)
                                    {
                                        <input name="approve" checked='checked' type="checkbox" disabled />
                                    }
                                    else
                                    {
                                        <input name="approve" type="checkbox" disabled />
                                    }
                                }
                            </td>
                        <td><input name="details" type="button" class="buttonMenu" value="View App @id" onclick="location.href='@Url.Action("SSViewApplication", "SS", new { appID = id })'"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
