<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--CONTAINS DYNAMIC PARTS,MAINLY BC A ENTITY MAY END UP BEING DELETED-->
<!--DOES THIS MEAN SHE CAN ADD ENTITIES? WE CAN"T DO THAT...SO MAYBE THIS PAGE IS STATIC?-->
<!--IS IT POSSIBLE TO HAVE RADIO BUTTONS FOR EACH ENTITY AND DEPENDING ON WHICH IS SELECTED, THE
SAME PAGE FILLS WITH WHAT'S CURRENTLY IN EDITAPPTEMPENTITY.CSHTML??-->
<!--EXAMPLE ON BOTTOM OF THIS PAGE
    CONTAINS CSS CODE in site.css lines 79-91
    TUTORIAL FOUND AT https://css-tricks.com/exposing-form-fields-radio-button-css/-->

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://ssb.winthrop.edu/prod/bwckctlg.p_disp_dyn_ctlg">Course Descriptions</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

        <h1><i>Edit Application Template</i></h1>
        <br /><br />

</head>
<body>

    <div style="text-align: center">
        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">Student</button>
        </a>

        <br>

        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">Employer</button> </button>
        </a>

        <br>

        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">Professor</button>
        </a>

        <br>

        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">CBA Student Services</button>
        </a>

        <br>

        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">Department Representative</button>
        </a>

        <br>

        <a href="/DER/EditAppTempEntity">
            <button class="buttonMenu" type="button">D.E.R.</button>
        </a>
S
        </div>
 
</body>
</html>
