<!DOCTYPE html>
<html>
<meta charset="UTF-8">


<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://ssb.winthrop.edu/prod/bwckctlg.p_disp_dyn_ctlg">Course Descriptions</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

        <h1><i>Active Applications</i></h1>
        <br /><br />

</head>

<body>     
    @model Dictionary<int, List<string>>
    <div style="text-align: center">
        <table border="1" cellpadding="10" align="center">
            <tr>
                <th>App ID</th>
                @foreach (var column in ViewBag.tableCols)
                {
                    <th>@column</th>
                }
            </tr>

            @{
                foreach (var row in Model)
                {
                    int id = 0;
                    int count = 0;
                        <tr>
                            @foreach (var item in row.Value)
                            {
                                if (count == 0)
                                {
                                    id = Convert.ToInt32(item);
                                }
                                <td>@item</td>
                                count++;
                            }
                            <td><input name="approve" type="checkbox" /> </td>
                            <td><input name="details" type="button" class="buttonMenu" value="View App @id" onclick="location.href='@Url.Action("ApplicationDetails", "DER", new { appID = id })'" ></td>
                        </tr>
                }
                            }
        </table>
    </div>

    <!-- Withdraw and Excel Report Buttons-->
    <div style="text-align: center">
        <form asp-action="Report" asp-controller="DER" method="post">
            <input type="submit" class="buttonMenu" name="response" value="Excel Report" formaction=@Url.Action("Report")
                   formmethod="post">
        </form>
            @*<a href="~/">
                <button class="buttonMenu" type="button">Withdraw</button>
            </a>*@
    </div>
</body>
</html>

