<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--CONTAINS DYNAMIC PARTS, WHICH ARE NOTED-->


<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://ssb.winthrop.edu/prod/bwckctlg.p_disp_dyn_ctlg">Course Descriptions</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

        <h1><i>Previous Applications</i></h1>
        <br /><br />

</head>
<body>
    @model Dictionary<int, List<string>>
    <div style="text-align: center">
        <table border="1" cellpadding="10" align="center">
            <tr>
                <th>App ID</th>
                @foreach (var column in ViewBag.tableCols)
                {
                    <th>@column</th>
                }
            </tr>

            @{
                foreach (var row in Model)
                {
                    <tr>
                        @foreach (var item in row.Value)
                        {
                            <td>@item</td>
                        }
                        <td><input name="details" type="button" class="buttonMenu" value="Details" /></td>
                    </tr>
                }
            }
        </table>
    </div>

    <!-- Withdraw and Excel Report Buttons-->
    <div style="text-align: center">
        <a href="~/">
            <button class="buttonMenu" type="button">Excel Report</button>
        </a>

        <a href="~/">
            <button class="buttonMenu" type="button">Delete</button>
        </a>
    </div>
</body>
</html>

