<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--CONTAINS DYNAMIC PARTS, WHICH ARE NOTED-->


<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://ssb.winthrop.edu/prod/bwckctlg.p_disp_dyn_ctlg">Course Descriptions</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

        <h1><i>Previous Applications</i></h1>
        <br /><br />

</head>
<body>
    <div style="text-align: center">
        <table border="1" cellpadding="10" align="center">
            <thead>
                <tr>
                    <!--FROM STUDENT'S APPLICATION -->
                    <th>Student Name</th>
                    <th>Class Enrolled</th>
                    <th>Semester Enrolled</th>
                    <th>Grad Year</th>
                    <th>Major/Concentration</th>
                    <th>Organization Name</th>
                    <!--end FROM STUDENT'S APPLICATION -->
                    <!--email? since faculty table may have been updated since so prof may have changed-->
                    <th>Faculty Member</th>
                    <th>View</th> <!--NEEDS TO INCLUDE HER SIGNATURE AND/OR REASON FOR DENIAL -->
                    <th>Signed</th>
                    <th>Select</th> <!--For deleting or creating excel reports -->
                    <th>Status</th>
                </tr>
            </thead>
            <!--EACH ROW ATER HEADER IN TABLE IS DYNAMIC-->
            <tbody>
                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <td>Dummy Student</td>
                    <td>CSCI 493</td>
                    <td>Spring 2019</td>
                    <td>Spring 2020</td>
                    <td>Computer Science</td>
                    <td>CoolCompany 1000</td>
                    <td>Steven Dannelly</td>
                    <td><a href="/student/Application">View</a></td>
                    <td>Yes</td>
                    <td><input type="checkbox" value="1" /></td>
                    <td>Approved</td>
                </tr>


            </tbody>
            <!--END DYNAMIC PORTION-->
        </table>
    </div>

    <!-- Withdraw and Excel Report Buttons-->
    <div style="text-align: right">
        <a href="~/">
            <button class="buttonMenu" type="button">Excel Report</button>
        </a>

        <a href="~/">
            <button class="buttonMenu" type="button">Delete</button>
        </a>
    </div>
</body>
</html>

