<!DOCTYPE html>
<html>
<meta charset="UTF-8">


<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    
    <div style="text-align: left">
        <!--Quick Links-->
        <table align="left" style="width:20%"  margin-left= "10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://www.winthrop.edu">Winthrop Homepage</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>
        </div>

    <div style="text-align: center">
        <h1><i>Select Application</i></h1>
        <br><br>


        <!--display applications student is currently working on-->
        @foreach (var item in ViewBag.classNames)
        {
            if (ViewBag.classStatus[@item] == "Incomplete")
            {
                <form asp-action="Application" asp-controller="Student" method="post">
                    <input type="submit" class="buttonMenu" name="response" value=@item formaction=@Url.Action("Application", new { eName = @item }) ;
                           formmethod="post">
                </form>
                <br />
            }
            else
            {
                <form asp-action="Application" asp-controller="Student" method="post">
                    <input type="submit" class="buttonMenuDisabled" name="response" disabled="disabled" value=@item formaction=@Url.Action("Application", new { eName = @item }) ;
                           formmethod="post">
                </form>
                <br />
            }

        }

        <!--display option for student to create a new application-->
        <form asp-action="Application" asp-controller="Student" method="post">
            <input type="submit" class="buttonMenu" name="response" value="CREATE NEW APPLICATION" formaction=@Url.Action("Application", new { eName = "New" }) ;
                   formmethod="post">
        </form>


    </div>


</head>



</html>

 